@model Clinica.Models.Animal

@{
    ViewBag.Title = "Delete";
}

<h2>Excluir Cadastro</h2>

<h3>Tem certeza de que deseja excluir?</h3>
<div>
    <h4>Animal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Cliente:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Espécie:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especie.NomeEspecie)
        </dd>

        <dt>
            @Html.DisplayName("Nome do Animal:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeAnimal)
        </dd>

        <dt>
            @Html.DisplayName("Idade:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdadeAnimal)
        </dd>

        <dt>
            @Html.DisplayName("Sexo:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SexoAnimal)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
