@model Clinica.Models.Animal

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do Cadastro</h2>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Cliente:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Espécie:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especie.NomeEspecie)
        </dd>

        <dt>
            @Html.DisplayName("Nome do Animal:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeAnimal)
        </dd>

        <dt>
            @Html.DisplayName("Idade:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdadeAnimal)
        </dd>

        <dt>
            @Html.DisplayName("Sexo:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SexoAnimal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AnimalID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
