@model PagedList.IPagedList<Clinica.Models.Animal>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Animal</h2>

<form method="get" action="/Administracao/Animal/ConsultarAnimal">
    <p>
        <input type="search" name="nomeAnimal" />
        <input type="submit" value="Pesquisar" class="btn btn-success" /> <input type="submit" value="Mostar Todos" class="btn btn-success" />
    </p>


</form>


<table class="table">
    <tr>
        <th>
           @Html.ActionLink("Nome do Animal", "Index", new { ordenacao = ViewBag.NomeParam })
        </th>
        
        <th>
            @Html.ActionLink("Espécie", "Index", new { ordenacao = ViewBag.EspecieParam })
        </th>
        
        <th>
            @Html.DisplayName("Idade")
        </th>
        <th>
            @Html.DisplayName("Sexo")
        </th>
        <th>
            @Html.DisplayName("Cliente")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeAnimal)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Especie.NomeEspecie)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.IdadeAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SexoAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nome)
        </td>
        <td>
            <a href="@Url.Action("Editar", new { id=item.AnimalID})" title="Editar" class="btn btn-success"><i class="glyphicon glyphicon-edit"></i></a>
            <a href="@Url.Action("Detalhes", new { id=item.AnimalID })" title="Detalhes" class="btn btn-success"><i class="glyphicon glyphicon-eye-open"></i></a>
            <a href="@Url.Action("Excluir", new { id=item.AnimalID })" title="Excluir" class="btn btn-danger"><i class="glyphicon glyphicon-remove-circle"></i></a>
        </td>
    </tr>
}

</table>

Página @Model.PageNumber de @Model.PageCount
@Html.PagedListPager(Model, Page => Url.Action("Index", new { pagina = Page, ordenacao = ViewBag.OrdencaoAtual }))
