@model IEnumerable<Clinica.Models.Animal>

@{
    ViewBag.Title = "Index";
}

<h2>Animal</h2>

<p>
    @Html.ActionLink("Cadastrar Animal", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especie.NomeEspecie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeAnimal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdadeAnimal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SexoAnimal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Especie.NomeEspecie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdadeAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SexoAnimal)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.AnimalID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.AnimalID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.AnimalID })
        </td>
    </tr>
}

</table>
