@model PagedList.IPagedList<Clinica.Models.Animal>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Animal</h2>

<p>
    @Html.ActionLink("Cadastrar Animal", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nome do Animal")
        </th>
        
        <th>
            @Html.DisplayName("Espécie")
        </th>
        
        <th>
            @Html.DisplayName("Idade")
        </th>
        <th>
            @Html.DisplayName("Sexo")
        </th>
        <th>
            @Html.DisplayName("Cliente")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeAnimal)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Especie.NomeEspecie)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.IdadeAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SexoAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.AnimalID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.AnimalID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.AnimalID })
        </td>
    </tr>
}

</table>

Página @Model.PageNumber de @Model.PageCount
@Html.PagedListPager(Model, Page => Url.Action("Index", new { pagina = Page }))
