@model PagedList.IPagedList<Clinica.Models.Especie>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Espécie</h2>

<form method="get" action="/Administracao/Especie/ConsultarEspecie">
    <p>
        <input type="search" name="NomeEspecie" />
        <input type="submit" value="Pesquisar" /> <input type="submit" value="Mostar Todos" />
    </p>


</form>


<p>
    @Html.ActionLink("Cadastrar Espécie", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nome", "Index", new { ordenacao = ViewBag.NomeParam })
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeEspecie)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.EspecieID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.EspecieID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.EspecieID })
        </td>
    </tr>
}

</table>

Página @Model.PageNumber de @Model.PageCount
@Html.PagedListPager(Model, Page => Url.Action("Index", new { pagina = Page, ordenacao = ViewBag.OrdencaoAtual }))
