@model PagedList.IPagedList<Clinica.Models.Especie>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Espécie</h2>

<form method="get" action="/Administracao/Especie/ConsultarEspecie">
    <p>
        <input type="search" name="NomeEspecie" />
        <input type="submit" value="Pesquisar" class="btn btn-success" /> <input type="submit" value="Mostar Todos" class="btn btn-success" />
    </p>


</form>


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nome", "Index", new { ordenacao = ViewBag.NomeParam })
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeEspecie)
        </td>
        <td>
            <a href="@Url.Action("Editar", new { id=item.EspecieID})" title="Editar" class="btn btn-success"><i class="glyphicon glyphicon-edit"></i></a>
            <a href="@Url.Action("Detalhes", new { id=item.EspecieID })" title="Detalhes" class="btn btn-success"><i class="glyphicon glyphicon-eye-open"></i></a>
            <a href="@Url.Action("Excluir", new { id=item.EspecieID })" title="Excluir" class="btn btn-danger"><i class="glyphicon glyphicon-remove-circle"></i></a>
            
        </td>
    </tr>
}

</table>

Página @Model.PageNumber de @Model.PageCount
@Html.PagedListPager(Model, Page => Url.Action("Index", new { pagina = Page, ordenacao = ViewBag.OrdencaoAtual }))
