@model Clinica.Models.Tratamento

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Tratamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nome do Animal:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal.NomeAnimal)
        </dd>

        <dt>
            @Html.DisplayName("Tipo de Tratamento:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayName("Data Inicio:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>

        <dt>
            @Html.DisplayName("Data Fim:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.TratamentoID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
