@model Clinica.Models.Tratamento

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Tratamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nome do Animal:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal.NomeAnimal)
        </dd>

        <dt>
            @Html.DisplayName("Tipo de Tratamento:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayName("Data Inicio:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>

        <dt>
            @Html.DisplayName("Data Fim:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>

    </dl>
</div>
<div>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
    <a href="@Url.Action("Editar",new { id = Model.TratamentoID })" title="Editar" class="btn btn-success">
        <p>Editar</p>
    </a>
    &nbsp;
    <a href="@Url.Action("Index")" title="Ir para lista" class="btn btn-success">
        <p>Ir para lista</p>
    </a>
    </div>
    