@model PagedList.IPagedList<Clinica.Models.Tratamento>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Tratamento</h2>

<form method="get" action="/Administracao/Tratamento/ConsultarTratamento">
    <p>
        <input type="search" name="Descricao" />
        <input type="submit" value="Pesquisar" class="btn btn-success" /> <input type="submit" value="Mostar Todos" class="btn btn-success" />
    </p>


</form>


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Tipo de Tratamento", "Index", new { ordenacao = ViewBag.DescricaoParam })
        </th>
        <th>
            @Html.ActionLink("Nome do Animal", "Index", new { ordenacao = ViewBag.NomeParam })
        </th>
        <th>
            @Html.DisplayName("Data Inicio")
        </th>
        <th>
            @Html.DisplayName("Data Fim")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Animal.NomeAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFim)
        </td>
        <td>
            <a href="@Url.Action("Editar", new { id=item.TratamentoID})" title="Editar" class="btn btn-success"><i class="glyphicon glyphicon-edit"></i></a>
            <a href="@Url.Action("Detalhes", new { id=item.TratamentoID })" title="Detalhes" class="btn btn-success"><i class="glyphicon glyphicon-eye-open"></i></a>
            <a href="@Url.Action("Excluir", new { id=item.TratamentoID })" title="Excluir" class="btn btn-danger"><i class="glyphicon glyphicon-remove-circle"></i></a>
            
        </td>
    </tr>
}

</table>

Página @Model.PageNumber de @Model.PageCount
@Html.PagedListPager(Model, Page => Url.Action("Index", new { pagina = Page, ordenacao = ViewBag.OrdencaoAtual }))

