@model PagedList.IPagedList<Clinica.Models.Tratamento>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Tratamento</h2>

<form method="get" action="/Administracao/Tratamento/ConsultarTratamento">
    <p>
        <input type="search" name="Descricao" />
        <input type="submit" value="Pesquisar" /> <input type="submit" value="Mostar Todos" />
    </p>


</form>


<p>
    @Html.ActionLink("Cadastrar Tratamento", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Tipo de Tratamento", "Index", new { ordenacao = ViewBag.DescricaoParam })
        </th>
        <th>
            @Html.ActionLink("Nome do Animal", "Index", new { ordenacao = ViewBag.NomeParam })
        </th>
        <th>
            @Html.DisplayName("Data Inicio")
        </th>
        <th>
            @Html.DisplayName("Data Fim")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Animal.NomeAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFim)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.TratamentoID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.TratamentoID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.TratamentoID })
        </td>
    </tr>
}

</table>

Página @Model.PageNumber de @Model.PageCount
@Html.PagedListPager(Model, Page => Url.Action("Index", new { pagina = Page, ordenacao = ViewBag.OrdencaoAtual }))

