@model PagedList.IPagedList<Clinica.Models.Tratamento>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Tratamento</h2>

<p>
    @Html.ActionLink("Cadastrar Tratamento", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Tipo de Tratamento")
        </th>
        <th>
            @Html.DisplayName("Nome do Animal")
        </th>
        <th>
            @Html.DisplayName("Data Inicio")
        </th>
        <th>
            @Html.DisplayName("Data Fim")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Animal.NomeAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFim)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.TratamentoID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.TratamentoID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.TratamentoID })
        </td>
    </tr>
}

</table>

Página @Model.PageNumber de @Model.PageCount
@Html.PagedListPager(Model, Page => Url.Action("Index", new { pagina = Page }))
