@model PagedList.IPagedList<Clinica.Models.Consulta>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Consulta</h2>

<p>
    @Html.ActionLink("Cadastrar Consulta", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Data Consulta", "Index", new { ordenacao = ViewBag.DataParam })
        </th>
        <th>
            @Html.ActionLink("Nome do Veterinario", "Index", new { ordenacao = ViewBag.VeterinarioParam })
        </th>
        <th>
            @Html.DisplayName("Tipo de Tratamento")
        </th>
             
       
        <th>
            @Html.DisplayName("Histórico")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataConsulta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Veterinario.NomeVeterinario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tratamento.Descricao)
        </td>
                
        <td>
            @Html.DisplayFor(modelItem => item.Historico)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ConsultaID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ConsultaID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.ConsultaID })
        </td>
    </tr>
}

</table>

Página @Model.PageNumber de @Model.PageCount
@Html.PagedListPager(Model, Page => Url.Action("Index", new { pagina = Page, ordenacao = ViewBag.OrdencaoAtual }))


