@model PagedList.IPagedList<Clinica.Models.Consulta>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Consulta</h2>

<form method="get" action="/Administracao/Consulta/buscarConsulta">
    <p>
        <input type="search" name="Historico" />
        <input type="submit" value="Pesquisar" class="btn btn-success" /> <input type="submit" value="Mostar Todos" class="btn btn-success" />
    </p>


</form>


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Data Consulta", "Index", new { ordenacao = ViewBag.DataParam })
        </th>
        <th>
            @Html.ActionLink("Nome do Veterinario", "Index", new { ordenacao = ViewBag.VeterinarioParam })
        </th>
        <th>
            @Html.DisplayName("Tipo de Tratamento")
        </th>
             
       
        <th>
            @Html.DisplayName("Histórico")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataConsulta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Veterinario.NomeVeterinario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tratamento.Descricao)
        </td>
                
        <td>
            @Html.DisplayFor(modelItem => item.Historico)
        </td>
        <td>
            <a href="@Url.Action("Editar", new { id=item.ConsultaID})" title="Editar" class="btn btn-success"><i class="glyphicon glyphicon-edit"></i></a>
            <a href="@Url.Action("Detalhes", new { id=item.ConsultaID })" title="Detalhes" class="btn btn-success"><i class="glyphicon glyphicon-eye-open"></i></a>
            <a href="@Url.Action("Excluir", new { id=item.ConsultaID })" title="Excluir" class="btn btn-danger"><i class="glyphicon glyphicon-remove-circle"></i></a>
            
        </td>
    </tr>
}

</table>

Página @Model.PageNumber de @Model.PageCount
@Html.PagedListPager(Model, Page => Url.Action("Index", new { pagina = Page, ordenacao = ViewBag.OrdencaoAtual }))


