<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Freelancer - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="@Url.Content("/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="@Url.Content("/css/freelancer.min.css")" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="@Url.Content("/vendor/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Clínica Veterinária</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">Quem Somos</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Serviços</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contato</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/Administracao">Administração</a>
                    </li>

                    <li>
                        <!-- Chama arquivo parcial de links de entrar(LogIn) e sair(LogOff) -->
                        @Html.Partial("_LoginPartial")
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        
            <div class="container" id="maincontent" tabindex="-1">
                <div class="row">
                    <div class="col-lg-12">
                        <img class="img-responsive" src="@Url.Content("/img/profile.png")" alt="">
                        <div class="intro-text">
                            <h1 class="name">Espaço Animal</h1>
                            <hr class="star-light">
                            <span class="skills">Subtítulo aqui</span>
                        </div>
                    </div>
                </div>
            </div>
            
</header>
    @RenderBody()
    

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Ultrassonografia</h2>
                            <hr class="star-primary">
                            <img src="@Url.Content("/img/new/Ultra.jpg")" class="img-responsive img-centered" alt="">
                            <p>A ultrassonografia é um dos métodos de diagnóstico por imagem mais versátil e menos invasivo, que é utilizado no auxílio do diagnóstico de variadas enfermidades, tanto em cães como em gatos. <br />
                               Dentre as indicações do exame ultrassonográfico, estão:<br />
                               Distensão abdominal<br />
                               Diagnóstico gestacional e avaliação fetal<br />
                               Avaliação prostática e testicular<br />
                               Dor abdominal<br />
                               Pesquisa de corpos estranhos que o animal pode ter ingerido<br />
                               Suspeita de hemorragia interna<br />
                               Suspeita de infecção uterina (piometra)<br />
                               Presença de sangue na urina<br />
                               Suspeita de cálculos renais, de bexiga e de vesícula biliar<br />
                               Pesquisa de tumores na cavidade abdominal<br />
                               Suspeita de cistos ovarianos<br />
                               Presença de líquido abdominal<br />
                               Avaliação das glândulas adrenais<br />
                               Suspeita de Pancreatite<br />
                               Auxiliar na coleta de tecidos para biopsias<br />
                             
                            
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Voltar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Oncologia</h2>
                            <hr class="star-primary">
                            <img src="@Url.Content("/img/new/onco.jpg")" class="img-responsive img-centered" alt="">
                            <p>Porque devemos preocupar com a ocorrência de câncer nos nossos animais de estimação?<br />

                            Infelizmente, a incidência de câncer vem aumentando nos últimos anos e hoje já está entre<br />
                             as principais causa de morte dos animais.<br/> Existem vários fatores que podem estar <br />relacionados a este aumento, mas, sem dúvida, um dos principais motivos é o aumento da <br />
                            expectativa de vida destes nossos amigos.<br /> Cuidados como a realização de vacinas, dietas de<br />
                             alta qualidade, avanços no tratamento de diversas doenças e um acompanhamento<br /> veterinário criterioso, possibilitam um aumento considerável na expectativa de vida destes<br />
                             companheiros. Como o câncer é uma doença que acomete principalmente animais idosos,<br />
                             quanto maior a expectativa de vida, maior será o risco de desenvolvimento desta doença.<br />
                             Um estudo mostrou que 45% dos animais com 10 anos ou mais são acometidos por algum <br />tipo de câncer.<br />
                            
                            Os principais tipos de câncer entre cães e gatos, são:<br />
                            
                                Câncer de mama (nódulos nas glândulas mamárias que acomete principalmente cadelas)<br />
                                Linfoma (câncer que acomete o tecido linfóide)<br />
                                Mastocitoma (manifesta como nódulos de pele)<br />
                                Melanoma (pode ocorrer tanto na pele como na cavidade oral)<br />
                                Carcinomas de pele (acomete principalmente gatos de pelagem branca)<br />
                                Osteossarcoma (acomete osso principalmente de cães de grande porte)<br />
                            
                            O segredo para o sucesso no tratamento de um animal com câncer é baseado no <br />
                            diagnóstico precoce e uma conduta terapêutica adequada. Muitas vezes a cirurgia é<br />
                            aplicada para remover o câncer e, em alguns casos, este procedimento é curativo. <br />
                            Hoje a quimioterapia é uma realidade na medicina veterinária de pequenos animais e, ao <br />
                            contrário do que ocorre nos humanos, os animais não apresentam tantos efeitos colaterais.<br /> 
                            Porém, a participação do tutor e o acompanhamento constante do veterinário
                            são imprescindíveis para se chegar a um bom resultado.<br />
                            </p>
                            
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="@Url.Content("/img/new/rai.jpg")" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="@Url.Content("/img/new/of.jpg")" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="@Url.Content("/img/new/neu.jpg")" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="@Url.Content("/img/new/ciru.jpg")" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="@Url.Content("/vendor/jquery/jquery.min.js")"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("/vendor/bootstrap/js/bootstrap.min.js")"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="@Url.Content("/js/jqBootstrapValidation.js")"></script>
    <script src="@Url.Content("/js/contact_me.js")"></script>

    <!-- Theme JavaScript -->
    <script src="@Url.Content("/js/freelancer.min.js")"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
