<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clínica Veterinaria Espaço Animal</title>

    <!-- Bootstrap Core CSS -->
    <link href="@Url.Content("/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="@Url.Content("/css/freelancer.min.css")" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="@Url.Content("/vendor/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Clínica Veterinária</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="#portfolio">Serviços</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">Quem Somos</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/Administracao">Administração</a>
                    </li>

                    <li>
                        <!-- Chama arquivo parcial de links de entrar(LogIn) e sair(LogOff) -->
                        @Html.Partial("_LoginPartial")
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        
            <div class="container" id="maincontent" tabindex="-1">
                <div class="row">
                    <div class="col-lg-12">
                        <img class="img-responsive" src="@Url.Content("/img/pets.jpeg")" alt="">
                        <div class="intro-text">
                            
                            <span class="skills"></span>
                        </div>
                    </div>
                </div>
            </div>
            
</header>
    @RenderBody()
    

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Ultrassonografia</h2>
                            <hr class="star-primary">
                            <img src="@Url.Content("/img/new/Ultra.jpg")" class="img-responsive img-centered" alt="">
                            <p>A ultrassonografia é um dos métodos de diagnóstico por imagem mais versátil e menos invasivo,
                               que é utilizado no auxílio do diagnóstico de variadas enfermidades, tanto em cães como em gatos.<br />
                               Dentre as indicações do exame ultrassonográfico, estão:<br/>
                               Distensão abdominal<br />
                               Diagnóstico gestacional e avaliação fetal<br />
                               Avaliação prostática e testicular<br />
                               Dor abdominal<br />
                               Pesquisa de corpos estranhos que o animal pode ter ingerido<br />
                               Suspeita de hemorragia interna<br />
                               Suspeita de infecção uterina (piometra)<br />
                               Presença de sangue na urina<br />
                               Suspeita de cálculos renais, de bexiga e de vesícula biliar<br />
                               Pesquisa de tumores na cavidade abdominal<br />
                               Suspeita de cistos ovarianos<br />
                               Presença de líquido abdominal<br />
                               Avaliação das glândulas adrenais<br />
                               Suspeita de Pancreatite<br />
                               Auxiliar na coleta de tecidos para biopsias<br />
                               </p>                   
                            
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Voltar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Oncologia</h2>
                            <hr class="star-primary">
                            <img src="@Url.Content("/img/new/onco.jpg")" class="img-responsive img-centered" alt="">
                            <p>Porque devemos preocupar com a ocorrência de câncer nos nossos animais de estimação?<br />
                               Infelizmente, a incidência de câncer vem aumentando nos últimos anos e hoje já está entre<br />
                               as principais causa de morte dos animais.<br/> Existem vários fatores que podem estar <br />
                               relacionados a este aumento, mas, sem dúvida, um dos principais motivos é o aumento da <br />
                               expectativa de vida destes nossos amigos.<br /> Cuidados como a realização de vacinas, dietas de<br />
                               alta qualidade, avanços no tratamento de diversas doenças e um acompanhamento<br /> 
                               veterinário criterioso, possibilitam um aumento considerável na expectativa de vida destes<br />
                               companheiros. Como o câncer é uma doença que acomete principalmente animais idosos,<br />
                               quanto maior a expectativa de vida, maior será o risco de desenvolvimento desta doença.<br />
                               Um estudo mostrou que 45% dos animais com 10 anos ou mais são acometidos por algum <br />tipo de câncer.<br />
                               Os principais tipos de câncer entre cães e gatos, são:<br />
                               Câncer de mama (nódulos nas glândulas mamárias que acomete principalmente cadelas)<br />
                               Linfoma (câncer que acomete o tecido linfóide)<br />
                               Mastocitoma (manifesta como nódulos de pele)<br />
                               Melanoma (pode ocorrer tanto na pele como na cavidade oral)<br />
                               Carcinomas de pele (acomete principalmente gatos de pelagem branca)<br />
                               Osteossarcoma (acomete osso principalmente de cães de grande porte)<br />
                               O segredo para o sucesso no tratamento de um animal com câncer é baseado no <br />
                               diagnóstico precoce e uma conduta terapêutica adequada. Muitas vezes a cirurgia é<br />
                               aplicada para remover o câncer e, em alguns casos, este procedimento é curativo. <br />
                               Hoje a quimioterapia é uma realidade na medicina veterinária de pequenos animais e, ao <br />
                               contrário do que ocorre nos humanos, os animais não apresentam tantos efeitos colaterais.<br /> 
                               Porém, a participação do tutor e o acompanhamento constante do veterinário
                               são imprescindíveis para se chegar a um bom resultado.<br />
                            </p>                            
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Voltar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Raio-X Digital</h2>
                            <hr class="star-primary">
                            <img src="@Url.Content("/img/new/rai.jpg")" class="img-responsive img-centered" alt="">
                            <p>O raio-x é uma ferramenta de grande utilidade na clínica de pequenos animais, <br />
                            o qual muitas vezes possibilita ao médico veterinário chegar a um diagnóstico definitivo.<br />
                            Sua importância se torna ainda maior quando o equipamento utilizado é de qualidade,<br />
                            como ocorre com raios-x digitais. A tecnologia utilizada fornece a melhoria da imagem,<br />
                            possibilita sua ampliação, mudança de tonalidade, medidas precisas de ossos,<br />
                            órgãos ou corpos estranhos, tornando o diagnóstico mais apurado.<br />
                            </p>
                            
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Voltar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Oftalmologia</h2>
                            <hr class="star-primary">
                            <img src="@Url.Content("/img/new/of.jpg")" class="img-responsive img-centered" alt="">
                            <p>A oftalmologia é um ramo da medicina veterinária que investiga e trata doenças<br />
                            relacionadas a visão, o olho e seus anexos.<br /> 
                            Na veterinária, esta especialidade tem evoluído nos últimos anos,<br />
                            oferecendo um diagnóstico mais preciso e tratamento<br />
                            clínico e cirúrgico mais eficaz. <br />
                            Doenças oftalmológicas ocorrem com frequência nos animais domésticos,<br />
                            por causas hereditárias ou adquiridas.<br />
                            A demora para iniciar um tratamento adequado pode, muitas vezes,<br />
                            levar à cegueira ou à sequelas que comprometem a acuidade visual.<br />
                            Sinais como lacrimejamento, vermelhidão, opacidade ou desconforto demonstrado<br />
                            pelo animal nos olhos, devem ser logo investigados.<br />
                            A Clínica Veterinária São Francisco de Assis oferece esta especialidade com <br />
                            modernos equipamentos para o diagnóstico de doenças oculares como Biomicroscopia<br />
                            com Lâmpada de Fenda, Tonometria de Perkin’s, Gonioscopia,<br />
                            Oftalmoscopia direta e indireta, Microscópio Cirúrgico entre outros.<br />
                            </p>
                            
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Voltar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Neurologia</h2>
                            <hr class="star-primary">
                            <img src="@Url.Content("/img/new/neu.jpg")" class="img-responsive img-centered" alt="">
                            <p>A neurologia veterinária, apesar de representar uma das mais altas casuísticas<br />
                            cirúrgico na clínica de pequenos animais, possui poucos praticantes,<br />
                            talvez por ser uma das áreas mais difíceis e intrigantes. É, portanto, <br />
                            uma especialidade veterinária imprescindível em uma clínica veterinária nos dias de hoje.<br />
                            O exame neurológico que, geralmente, é dividido em seis etapas, tem como um dos
                            <br />principais objetivos localizar a lesão neurológica do paciente. <br />
                            A localização correta de uma lesão neurológica auxilia o médico veterinário especialista<br />
                            a definir o diagnóstico e encaminhar o paciente para o tratamento adequado.<br />
                            São várias as doenças neurológicas que podem acometer os cães e gatos e muitas delas <br />
                            necessitam de um atendimento emergencial, como, por exemplo, a discopatia.<br />
                            A discopatia, popularmente chamada de hérnia de disco, é uma condição que pode<br />
                            levar o animal a ficar paraplégico (ausência de movimentação dos membros pélvicos)<br />
                            e até tetraplégico (ausência de movimentação dos quatros membros). <br />
                            Se essa doença for abordada de forma emergencial, as chances de retorno da função <br />
                            motora do paciente pode ser elevada, caso ao contrário,<br />
                            o animal pode ficar com sequelas neurológicas para a vida toda.<br />
                            Formas avançadas de diagnóstico, que antes se limitavam à medicina humana, <br />
                            como, por exemplo, radiografia digital, mielografia, tomografia e ressonância magnética, <br />
                            já são uma realidade na medicina veterinária, possibilitando diagnósticos mais precisos e, <br />
                            consequentemente, maior sucesso nos tratamentos.<br />
                            </p>
                            
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Voltar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Clínica Cirúrgica</h2>
                            <hr class="star-primary">
                            <img src="@Url.Content("/img/new/ciru.jpg")" class="img-responsive img-centered" alt="">
                            <p>A clínica possui cirurgiões com mais de 30 anos de experiência e especialistas em<br />
                            anestesiologia, 24 horas à disposição do seu melhor amigo. <br />
                            Cirurgias eletivas programadas, assim como emergências cirúrgicas, <br />
                            são realizadas diariamente. <br />
                            Os pacientes são monitorados por anestesistas especializados e aparelhos<br />
                            multiparamétricos designados para uso em animais <br />
                            (que aferem os sinais vitais automaticamente, como temperatura, pressão, oxigenação sanguínea, ritmo e batimento cardíaco) <br />
                            no pré, peri e pós-operatório, seguindo as recomendações do<br />
                            Colégio Americano de Anestesistas Veterinários. <br />
                            Possuímos também um sistema de aquecimento do animal no peri, <br />
                            trans e pós-operatório, que utiliza uma manta com ar quente circulante, <br />
                            proporcionando conforto e mínimo risco de queimaduras.<br />
                            </p>
                            
                            <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Voltar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="@Url.Content("/vendor/jquery/jquery.min.js")"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("/vendor/bootstrap/js/bootstrap.min.js")"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="@Url.Content("/js/jqBootstrapValidation.js")"></script>
    <script src="@Url.Content("/js/contact_me.js")"></script>

    <!-- Theme JavaScript -->
    <script src="@Url.Content("/js/freelancer.min.js")"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
