@model Clinica.Models.Exame

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Exame</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExameID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExameID)
        </dd>

        <dt>
            @Html.DisplayName("Descrição:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoExame)
        </dd>

    </dl>
</div>
<div>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
    <a href="@Url.Action("Editar",new { id = Model.ExameID })" title="Editar" class="btn btn-success">
        <p>Editar</p>
    </a>
    &nbsp;
    <a href="@Url.Action("Index")" title="Ir para lista" class="btn btn-success">
        <p>Ir para lista</p>
    </a>
</div>


