@model Clinica.Models.Exame

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Exame</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConsultaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescricaoExame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoExame)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ExameID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
