@model PagedList.IPagedList<Clinica.Models.Exame>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Exame</h2>

<p>
    @Html.ActionLink("Cadastrar Exame", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ConsultaID")
        </th>
        <th>
            @Html.DisplayName("Descrição")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ConsultaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoExame)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ExameID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ExameID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.ExameID })
        </td>
    </tr>
}

</table>

Página @Model.PageNumber de @Model.PageCount
@Html.PagedListPager(Model, Page => Url.Action("Index", new { pagina = Page }))
