@model Clinica.Models.Veterinario

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Veterinario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nome:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeVeterinario)
        </dd>

        <dt>
            @Html.DisplayName("Endereço:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnderecoVeterinario)
        </dd>

        <dt>
            @Html.DisplayName("Telefone:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefoneVeterinario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.VeterinarioID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
