@model IEnumerable<Clinica.Models.Veterinario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeVeterinario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnderecoVeterinario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefoneVeterinario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeVeterinario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnderecoVeterinario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefoneVeterinario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VeterinarioID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VeterinarioID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VeterinarioID })
        </td>
    </tr>
}

</table>
