@model PagedList.IPagedList<Clinica.Models.Veterinario>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Veterinario</h2>

<p>
    @Html.ActionLink("Cadastrar Veterinario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nome", "Index", new { ordenacao = ViewBag.NomeParam })
        </th>

        <th>
            @Html.DisplayName("Endereço")
        </th>
        <th>
            @Html.DisplayName("Telefone")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeVeterinario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnderecoVeterinario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefoneVeterinario)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.VeterinarioID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.VeterinarioID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.VeterinarioID })
        </td>
    </tr>
}

</table>

Página @Model.PageNumber de @Model.PageCount
@Html.PagedListPager(Model, Page => Url.Action("Index", new { pagina = Page, ordenacao = ViewBag.OrdencaoAtual }))
