@model PagedList.IPagedList<Clinica.Models.Cliente>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Cliente</h2>

<form method="get" action="/Administracao/Cliente/ConsultarCliente">
    <p>
        <input type="search" name="nome" />
        <input type="submit" value="Pesquisar" class="btn btn-success" /> <input type="submit" value="Mostar Todos" class="btn btn-success" />
    </p>


</form>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nome", "Index", new { ordenacao = ViewBag.NomeParam })
        </th>
        <th>
            @Html.ActionLink("E-mail", "Index", new { ordenacao = ViewBag.EmailParam })
        </th>
        <th>
            @Html.DisplayName("Endereço")
        </th>
        <th>
            @Html.DisplayName("Telefone")
        </th>
        <th>
            @Html.DisplayName("CEP")
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CEP)
        </td>
        
        <td>
            <a href="@Url.Action("Editar", new { id=item.ClienteID})" title="Editar" class="btn btn-success"><i class="glyphicon glyphicon-edit"></i></a>
            <a href="@Url.Action("Detalhes", new { id=item.ClienteID })" title="Detalhes" class="btn btn-success"><i class="glyphicon glyphicon-eye-open"></i></a>
            <a href="@Url.Action("Excluir", new { id=item.ClienteID })" title="Excluir" class="btn btn-danger"><i class="glyphicon glyphicon-remove-circle"></i></a>
            
        </td>
    </tr>
}

</table>

Página @Model.PageNumber de @Model.PageCount 
@Html.PagedListPager(Model, Page => Url.Action("Index", new { pagina = Page, ordenacao = ViewBag.OrdencaoAtual }))
